---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import FancyCard from "~/components/fancy-card.astro";
import SvgTextWrapper from "~/components/svg-text-icon.astro";
---

<ContentSection title="About Us" id="about-us">
  <div class="max-w-xl text-2xl font-extrabold text-center">
    <SvgTextWrapper svgText="Drag It Out"
      ><Icon name="icon-wordmark" class="svg-inline" />
    </SvgTextWrapper>{" "}is a Christchurch run drag queen events company{" "}
    that provides <span class="gradient-text-pride">LGBTQIA+</span>{" "}safe
    events around the <span class="text-primary">Canterbury</span>{
      " "
    }region.<br />
    We like to provide fun family friendly <span class="text-primary"
      >entertainment</span
    >{" "}for all ages with lots of energy and laughter for all.
  </div>
  <FancyCard />
</ContentSection>
