---
import ContentSection from "~/components/content-section.astro";
import FancyCard from "~/components/fancy-card.astro";
---

<ContentSection title="About Us" id="about-us">
  <div class="max-w-xl text-2xl font-extrabold text-center">
    Drag It Out Entertainment is run by the fabulous <span class="text-primary"
      >Lady Bubbles</span
    >. With over four years of experience providing safe, <span
      class="text-primary">LGBTQIA+{" "}</span
    >events in the area, doing all-inclusive parties, Bingo Nights, and private
    events throughout the <span class="text-primary">South Island</span>.<br
    />Our team is dedicated to spreading happiness, joy, and smiles wherever we
    go. We love what we do and are passionate about providing unforgettable
    experiences for our clients.
  </div>
  <FancyCard />
</ContentSection>
