---
import background from "../assets/background.svg";
---

<div id="bubblefield" class="absolute inset-0 z-0 overflow-hidden">
  <img src={background} alt="bubbly background" />
</div>

<style lang="scss">
  .bubbles-container {
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
  }

  .bubbles {
    width: 100vw;
    height: 100vh;
    background: #3e1e68;
  }
</style>
