---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    Book A <span class="text-primary">Queen</span>.{" "} Today!
  </Fragment>
</ContentSection>
