---
export const prerender = true;
import ContentSection from "~/components/content-section.astro";
import NewEventsCard from "~/components/new-events.astro";
const paramsObj = {
  row: "20",
  username: import.meta.env.USERNAME,
  fields: import.meta.env.QUERY_FIELDS,
  date_format: "%e %b",
};
const baseUrl = new URL(import.meta.env.EVENTFINDA_BASE_URL + `?${new URLSearchParams(paramsObj).toString()}`);
const headers = new Headers({
  "Content-Type": "application/json",
  Authorization: import.meta.env.API_KEY,
  cache: "default",
  mode: "cors",
  method: "GET",
  "Cache-Control": "s-maxage=1, stale-while-revalidate",
});
const response = await fetch(baseUrl, { headers });
const { events } = await response.json();
const anyUpcomingEvents = events?.length > 0;
---

<ContentSection title={anyUpcomingEvents ? `Upcoming Events` : `More Events Coming Soon`} id="events">
  <Fragment slot="lead">
    {
      anyUpcomingEvents ? (
        <>
          Click on the event to buy your <span class="text-primary">tickets</span> today!!!
        </>
      ) : (
        ``
      )
    }
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <NewEventsCard events={events} />
    <p class="text-lg text-right">
      <a
        class="text-primary after:content-['_↗']"
        href="https://www.eventfinda.co.nz/user/dragitoutchch/favourites/events"
        target="_blank"
      >
        {anyUpcomingEvents ? <>...and more </> : <>In the meantime, check out our Eventfinda page </>}
      </a>
    </p>
  </div>
</ContentSection>
