---
export const prerender = true;
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import Wordmark from "../assets/wordmark.svg";
---

<ContentSection title="" id="intro" class="z-10">
  <Fragment slot="eyebrow">
    <img
      src={Wordmark.src}
      height="112"
      width="684"
      class="object-cover w-50"
      decoding="async"
      loading="lazy"
      alt="A wordmark of Drag It Out"
    />
    <span class="text-sm text-right">Entertainment Ltd</span>
  </Fragment>
  <Fragment slot="lead">
    Drag It Out Entertainment is a premier <span class="text-primary">drag queen</span>{" "}entertainment company based
    in Christchurch. We specialize in Drag Bingo, karaoke/quiz nights, Hosting, corporate events, Birthday & Hens
    parties, and we cater for events <span class="text-primary">all over New Zealand</span>.<br />As one of the leading
    drag entertainment companies in Christchurch, we pride ourselves on providing <span class="text-primary"
      >high-quality</span
    >, entertainment that will leave a lasting impression on your guests.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      target="_blank"
      href="https://instagram.com/dragitoutentertainment"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon name="fa-brands:instagram" class="h-8" />
      <span>Our Insta 🤳</span>
    </a>
    <a
      href="https://facebook.com/Dragitoutchch"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
      ><Icon name="fa-brands:facebook" class="h-8" />
      <span>Our Facebook<Icon name="fluent-emoji:bubbles" class="h-8 svg-inline" /></span>
    </a>
  </div>
  <style>
    [astro-icon="fluent-emoji:bubbles"] {
      display: inline;
    }
  </style>
</ContentSection>
