---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import Wordmark from "../assets/wordmark.svg";
---

<ContentSection title="" id="intro" class="z-10">
  <Fragment slot="eyebrow">
    <img
      src={Wordmark}
      height="112"
      width="684"
      class="object-cover w-50"
      loading="lazy"
      alt="A wordmark of Drag It Out"
    />
    <span class="text-sm text-right">Entertainment Ltd</span>
  </Fragment>
  <Fragment slot="lead">
    If you want to be entertained and a night of <span class="text-primary"
      >laughs</span
    >, performances and shenanigans then <span class="text-primary">don’t</span
    >{" "}miss out and come hang out with one of Christchurch’s <span
      class="text-primary">most fabulous</span
    >{" "}drag queens<br />
    <span class="text-primary">Lady Bubbles</span>!
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      target="_blank"
      href="https://instagram.com/dragitoutentertainment"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="uil" name="instagram" class="h-8" />
      <span>Our Insta 🤳</span>
    </a>
    <a
      href="https://facebook.com/Dragitoutchch"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="uil" name="facebook" class="h-8" />
      <span>Our Facebook<Icon name="bubbles" class="h-8" /></span>
    </a>
  </div>
  <style>
    [astro-icon="bubbles"] {
      display: inline;
    }
  </style>
</ContentSection>
