---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Bubbles from "./bubbles.astro";
import HeroImage from "~/components/hero-image.astro";
import PerformerBoth from "../assets/performer_both.webp";
const widths = [400, 800, 1500];
const sizes = "(max-width: 767px) 100vw, 736px";
---

<section class="relative h-full z-auto max-w-full">
  <Bubbles />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative m-auto max-w-3xl">
    <Icon name="icon-wordmark" class="object-cover mx-auto pt-8 w-5/6 block sm:hidden" />
    <Picture
      src={PerformerBoth}
      class="animate-float mx-auto w-5/6 sm:w-2/3 pt-8"
      widths={widths}
      sizes={sizes}
      loading={"eager"}
      formats={["avif", "png", "webp"]}
      alt="Two drag performers appearing in the void"
    />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  img.animate-float {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    img.animate-float {
      @apply animate-none;
    }

    :global(#bubblefield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
