---
import { Picture } from "@astrojs/image/components";
import Bubbles from "./bubbles.astro";
import HeroImage from "~/components/hero-image.astro";
import PerformerBoth from "../assets/performer_both.webp";

const widths = [450, 640];
const sizes = "(min-width: 640px) 42vw, 67vw";

---

<section class="relative h-full z-auto">
  <Bubbles />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full sm:grid-cols-2 place-items-center">
    <h1
      class="flex flex-col self-end gap-2 sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <div
        class="font-extrabold tracking-tighter text-center text-9xl gradient-text"
      >
        DRAG.
        <br /> IT.
        <br /> OUT.
      </div>
    </h1>
    <Picture
      src={PerformerBoth}
      class="self-start w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start"
      widths={widths}
      sizes={sizes}
      formats={["avif", "jpeg", "png", "webp"]}
      alt="A drag performer appearing in the void"
    />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  picture {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#bubblefield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
