---
export const prerender = true;
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import Bubbles from "./bubbles.astro";
import HeroImage from "~/components/hero-image.astro";
import PerformerBoth from "../assets/lady_bubbles_splash.png";
const widths = [450, 800];
const sizes = "(min-width: 562px) 42vw, 67vw";
---

<section class="relative h-full z-auto max-w-full">
  <Bubbles />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative m-auto max-w-3xl">
    <Icon
      name="icon-wordmark"
      class="object-cover mx-auto pt-8 w-5/6 block sm:hidden"
    />
    <Image
      src={PerformerBoth}
      class="animate-float mx-auto w-2/3 sm:w-1/2 pt-8"
      sizes={sizes}
      loading={"eager"}
      alt="Two drag performers appearing in the void"
    />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  img.animate-float {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    img.animate-float {
      @apply animate-none;
    }

    :global(#bubblefield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
